.item {
    background-color: #E64944;
    color: white;
    width: 10em; 
    text-align: left;
    margin: 4px 0;
    padding-left: 8px;
    cursor: pointer;
}

.item.purchased{
    background-color: #D17D7C;
    text-decoration: line-through;
}